@model Doctors_Information_System.Models.ChangePassword

@{
    ViewBag.Title = "Change Password";
}

    @using (Html.BeginForm())
    {
        <div class="container-fluid body-content" style="background-color:rgb(127,127,127);padding-top:10em;padding-bottom:10em;">
            <div class="form-area" style="background-color:#5bc0de;">
                <h2 style="text-align:center;color:white;">Change Password</h2>
                <div class="change-area" style="background-color:#eeeeee;height:25em;">

                    <div class="form-group">
                        <div style="text-align: center; width: 60%;">
                            @Html.Label("Current Password",new {@class = "control-label col-md-10 form-labels" })
                            </div>
                            <div class="text-styles">
                                @Html.PasswordFor(model => model.CurrentPassword,new { @class = "form-control",@id="currentPassword" } )
                                @Html.ValidationMessageFor(model => model.CurrentPassword, "", new { @class = "text-danger", @id = "currentPasswordAlert" })
                                <span class="text-danger" id="serverPasswordAlert">@ViewBag.PasswordMessage</span>
                            </div>
                        </div>

                    <div class="form-group">
                        <div style="text-align: center; width: 60%;">
                            @Html.Label("New Password",new { @class = "control-label col-md-10 form-labels" })
                            </div>
                            <div class="text-styles">
                                @Html.PasswordFor(model => model.NewPassword, new { @class = "form-control",@id="newPassword" })
                                @Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "text-danger", @id = "newPasswordAlert" })
                            </div>
                        </div>

                    <div class="form-group">
                        <div style="text-align: center; width: 60%;">
                            @Html.Label("Confirm Password",new { @class = "control-label col-md-10 form-labels" })
                            </div>
                            <div class="text-styles">
                                @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "form-control", @id = "confirmPassword" })
                                @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger", @id = "confirmPasswordAlert" })
                            </div>
                        </div>

                    <div class="form-group">
                        <div class="col-md-10" style="text-align: center;width:100%;">
                            <input type="submit" value="Save Changes" class="btn btn-primary btn-save" id="SavePassword"/>
                            @Html.ActionLink("Cancel", "ProfilePage")
                        </div>
                    </div>
                </div>
            </div>
            </div>
    }
