@model Doctors_Information_System.Models.LoginDetailsModel

@{
    ViewBag.Title = "Login";
}

    <div class="container-fluid body-content" style="background-color:rgb(127,127,127);padding-top:10em;padding-bottom:10em;" >       
            <div class="form-area" style="background-color:#5bc0de;">
                
     <h2 style="text-align:center;color:white;">Login</h2>
                
                <div style="background-color:#eeeeee;height:17.35em;">
                    @using (Html.BeginForm("Login", "Home", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {

                        <div class="text-styles">
                            @Html.TextBoxFor(m => m.UserEmail, new { @class = "form-control input-lg ", @placeholder = "Enter Email-Id", @id = "usersEmail" })
                            @Html.ValidationMessageFor(m => m.UserEmail, "", new { @class = "text-danger", @id = "usersEmailAlert" })
                        </div>
                        <div class="text-styles">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control input-lg", @placeholder = "Enter Password", @id = "usersPassword" })
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger", @id = "usersPasswordAlert" })
                            <span class="text-danger" id="serverUsersPasswordAlert">@ViewBag.Message</span>
                        </div>
                        <div style="width: 21em;margin: auto;">
                            @Html.ActionLink("Forgot Password?", "ForgotPassword", "Home")
                        </div>
                        <div class="submit-btn ">
                            <input type="submit" value="Log in" class="btn btn-info btn-lg btn-size" id="loginUser" />
                        </div>

                    }
                </div>

            </div>
    </div>
   
